.loe{
  display: flex;
  flex-direction:column;
  
}
.po{
  display: flex;
  flex-direction:column;
}
.App{
margin-left:450px ;  
margin-top: 170px;
}
.oii{
  display: flex;
  flex-direction:column;
  width: 60%;
}